<%= render "bricks/navbar" %>
<div class="container">
  <h2 class="my-4">Where do you want to go ?</h2>
  <%= link_to "first pages", manage_first_page_path, class: "btn btn-primary text-white" %>
  <%= link_to "articles", articles_path, class: "btn btn-primary text-white" %>
</div>
