<%= render "bricks/navbar" %>
<div class="container">
  <h1>Home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>
    <%= @number %>
  </p>
  <% if @number > 5 %>
  <p>Tu es un grand !</p>
  <% else %>
  <p>Il faut grandir !</p>
  <% end %>
  <% @number.times do |i| %>
  <h6>Coucou <%= i %> fois </h6>
  <% end %>

</div>
