<%= render "bricks/navbar" %>
<div class="container">
  <h1>List of articles</h1>
  <ul class="articles">
    <% @articles.each do |article| %>
      <li class="list-group-item">
        <%= link_to h(article.title), blog_show_path(id: article.id), class: 'stretched-link' %>
        <span class="italic">(<%= article.comments.size %> comments)</span>
      </li>
    <% end %>
  </ul>
</div>
